/ {
    xiao_ble_battery_dev: xiao_ble_battery_dev {
        compatible = "xiao-ble-battery";
        charging-enable-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
        read-enable-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
        charge-speed-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
        adc-channel = <NRF_SAADC_AIN7>;
        adc-total-samples = <12>;
        adc-filtering-algorithm = "trimmed-mean";
    };
};

&pwm0 {
    status = "disabled";
};

&spi2 {
    status = "okay";

    waveshare_epd_dev: waveshare_epd_dev@0 {
        compatible = "waveshare,4-inch-epd";
        status = "okay";
        reg = <0x0>;
        spi-max-frequency = <8000000>;
        cs-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
        dc-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
        res-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
        busy-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
    };
};
